# Python
__pycache__/
*.pyc

# Django
db.sqlite3
/media
wireguardapp/__pycache__/


# collected static files
/staticfiles/
/static_root/
/static/

# keep app static
!*/static/

# Virtual environment
venv/

# extra stuff
logs/
.env
sphinx
