{% extends "wireguardapp/base.html" %}

{% block title %}WG{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <strong>Registrace</strong>
            </div>

            <div class="card-body justify-content-center">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            <label class="form-label">
                                {{ field.label }}
                                {% if field.field.required %}
                                    <span class="text-danger">*</span>
                                {% endif %}
                            </label>
                            {{ field }}
                            {% if field.help_text %}
                                <div class="form-text">
                                    {{ field.help_text }}
                                </div>
                            {% endif %}
                            {% for error in field.errors %}
                                <div class="text-danger">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <button type="submit"class="form-control">Registrovat</button>
                </form>

            </div>
        </div>
    </div>
</div>


{% endblock %}