{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}WireGuard{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>

    .navbar-wg {
        background-color: #813e3e;
    }

    .navbar-wg .navbar-brand,
    .navbar-wg .nav-link,
    .navbar-wg .dropdown-item {
        color: white;
    }

    .navbar-wg .nav-link:hover {
        color: #ffd6d6;
    }

    .navbar-wg .dropdown-menu {
        color: black;
    }

    .navbar-wg .dropdown-item {
        color: black;
    }

    .navbar-wg .dropdown-item:hover {
        background-color: #f8f9fa;
        color: black;
    }

    </style>

</head>

<body>


<nav class="navbar navbar-expand-lg navbar-wg shadow-sm">

    <div class="container">

        <a class="navbar-brand fw-bold" href="/">
            WireGuard Panel
        </a>


        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarMain">

        <span class="navbar-toggler-icon"></span>

        </button>


        <div class="collapse navbar-collapse" id="navbarMain">


            <ul class="navbar-nav me-auto">
                {% if request.user.is_superuser or request.user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'allservers' %}">
                        Servers
                        </a>
                    </li>


                    <!-- SERVER DROPDOWN -->

                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle"
                            data-bs-toggle="dropdown"
                            href="#">
                            Server Dashboardy
                        </a>

                        <ul class="dropdown-menu">

                            {% for server in servers %}

                                <li>
                                    <a class="dropdown-item"
                                    href="{% url 'server' id=server.id %}">
                                    {{ server.interface_key.name }}
                                    </a>
                                </li>

                            {% empty %}

                                <li class="dropdown-item text-muted">
                                Ještě nejsou žádné servery
                                </li>

                            {% endfor %}
                    
                        </ul>
                
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listusers' %}">
                        List uživatelů
                        </a>
                    </li>
                {% endif %}

            
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mykeys' %}">
                    Moje klíče
                    </a>
                </li>


            </ul>


            <!-- USER MENU -->
            <ul class="navbar-nav ms-auto">

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle"
                    data-bs-toggle="dropdown"
                    href="#">

                    {% if request.user.is_authenticated %}
                    {{ request.user.username }}
                    {% else %}
                    Učet
                    {% endif %}

                    </a>

                    <ul class="dropdown-menu dropdown-menu-end">

                        {% if request.user.is_authenticated %}

                        <li>
                            <a class="dropdown-item"
                            href="{% url 'usersettings' id=request.user.id %}">
                            Nastavení
                            </a>
                        </li>


                        <li><hr class="dropdown-divider"></li>

                        <li>
                            <form method="post"
                                action="{% url 'logout' %}"
                                class="m-0">
                            {% csrf_token %}
                            <button class="dropdown-item" type="submit">
                            Odhlásit se
                            </button>
                            </form>
                        </li>

                        {% else %}

                        <li>
                            <a class="dropdown-item"
                            href="{% url 'login' %}">
                            Přihlásit se
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item"
                            href="{% url 'register' %}">
                            Registrovat se
                            </a>
                        </li>

                        {% endif %}

                        

                        </li>

                    </ul>

                </li>

            </ul>

        </div>

    </div>

</nav>



<div class="container mt-4 mb-5">
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

{% block content %}
{% endblock %}

</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>