{% extends "wireguardapp/base.html" %}

{% block title %}WgWeb - Návod{% endblock %}

{% block content %}
{% load static %}



<div class="container-fluid">
  <div class="row">

    <!-- Sidebar -->
    <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar pt-4" style="position: sticky; top: 20px; height: 100vh;">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#users">Přihlášení a registrace</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#keys">Připojení ke VPN serveru</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#newserver">Vytvoření rozhraní serveru</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#serverusage">Používání serveru</a>
        </li>

      </ul>
    </nav>

    <!-- Content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <section id="users">
        <h2>Přihlášení a registrace</h2>
        <p>
            Ve pravém horním rohu klikněte na text 'Účet' a vyberte si, 
            pokud si vytvoříte nového uživatele přes registraci, nebo se přihlásíte 
            ke existujícímu uživateli.
            </br>
            <img src="{% static "wireguardapp/images/login_register.png" %}"
              alt="Nav->login_or_register" 
              class="img-fluid img-thumbnail w-75"
              data-bs-toggle="modal" 
              data-bs-target="#imageGalleryModal" 
              data-bs-img-src="{% static "wireguardapp/images/login_register.png" %}">
            </br>
        </p>
        <p>
            Nově vytvořený uživatel nebude ověřený a nebude moct používat VPN server.
            Pro ověření kontaktujte správce.
        </p>
      </section>

      <hr>

      <section id="keys">
        <h2>Připojení ke VPN serveru</h2>
        <p>
            Abyste se mohli připojit na VPN server, nejdříve potřebujete si vytvořít klíč.
        </p>
        <p>
            Potřebujete být přihlášený pro vytváření klíčů
        </p>
        <ol>
            <li>
                Přihlaste se do vašeho ověřeného uživatelského účtu.
            </li>
            <li>
                Klikněta na záložky 'Moje klíče' v navigaci.
            </li>
            <li>
                Klikněte na tlačítko 'Nový klíč' pro vytvoření nového klíče.
                </br>
                <img src="{% static "wireguardapp/images/new_key.png" %}" 
                  alt="Vytvořit nový klíč" 
                  class="img-fluid img-thumbnail w-75"
                  data-bs-toggle="modal" 
                  data-bs-target="#imageGalleryModal" 
                  data-bs-img-src="{% static "wireguardapp/images/new_key.png" %}">
                </br>
            </li>
            <li>
                Zadejte jméno klíče (1) a vyberte rozhraní serveru (2). Potom klikněte na 'Vytvořit nový klíč.'
                </br>
                <img src="{% static "wireguardapp/images/create_key.png" %}" 
                  alt="Vyplnit formulář o novém klíči" 
                  class="img-fluid img-thumbnail w-75"
                  data-bs-toggle="modal" 
                  data-bs-target="#imageGalleryModal" 
                  data-bs-img-src="{% static "wireguardapp/images/create_key.png" %}">
                </br>
            </li>
            <li>
                Klikněte na 'Vytvořit konfiguraci' na kartu klíče, kterého jste vytvořili.
                </br>
                <img src="{% static "wireguardapp/images/key_configbutton.png" %}" 
                  alt="kliknout na vytvořit konfiguraci" 
                  class="img-fluid img-thumbnail w-75"
                  data-bs-toggle="modal" 
                  data-bs-target="#imageGalleryModal" 
                  data-bs-img-src="{% static "wireguardapp/images/key_configbutton.png" %}">
                </br>
            </li>
            <li>
                Vyberte, jestli chcete plný tunel, kde každý provoz sítě se přesměruje přes VPN server,
                nebo Split tunel, kde jenom pro adresy v síti rozhraní serveru bude přesměrován přes VPN server.
                Potom stáhněte soubor Wireguard připojení.
                </br>
                <img src="{% static "wireguardapp/images/key_makeconfig.png" %}" 
                  alt="Stahnout konfiguraci" 
                  class="img-fluid img-thumbnail w-75"
                  data-bs-toggle="modal" 
                  data-bs-target="#imageGalleryModal" 
                  data-bs-img-src="{% static "wireguardapp/images/key_makeconfig.png" %}">
                </br>
            </li>
        </ol>

        <p>
          Způsob nastavení VPN tunelu na různých operačních systémech je jiný. Odtuď následuje postup pro 
          Linux s distribucí Ubuntu a grafickým rozhraní GNOME, potom pro Windows. 
          <i>Jméno konfiguračního souboru nesmí mít závorky, které se přidávají pokud už existuje soubor se stejným názvem na zařízení</i>
        </p> 

        <strong>Linux (Ubuntu/Gnome)</strong>
        <ol>
          <li>
            Pro používání wireguard klienta protřebuje instalovat wireguard na vašem zařízení.
            Otevřete terminál (CTRL+ALT+T) a spusťte příkaz: </br><i>sudo apt install wireguard</i>
          </li>
          <li>
            Přejděte na nastavení v záložce "Síť" a vytvořte nové VPN připojení. Můžete tam přejít do nastavení 
            kliknutím ve pravém horním rohu na záložku kde je zobrazeno připojení,zvuk a napájení.
            Nebo vyhledat nastavení v vyhledávaní aplikací.
            </br>
              <img src="{% static "wireguardapp/images/settings.png" %}" 
                alt="Stahnout konfiguraci" 
                class="img-fluid img-thumbnail w-75"
                data-bs-toggle="modal" 
                data-bs-target="#imageGalleryModal" 
                data-bs-img-src="{% static "wireguardapp/images/settings.png" %}">
              </br>
              </br>
              <img src="{% static "wireguardapp/images/ubuntu_vpnnew.png" %}" 
                alt="Stahnout konfiguraci" 
                class="img-fluid img-thumbnail w-75"
                data-bs-toggle="modal" 
                data-bs-target="#imageGalleryModal" 
                data-bs-img-src="{% static "wireguardapp/images/ubuntu_vpnnew.png" %}">
              </br>
          </li>
          <li>
            Importujte nastavení wireguardu ze stáhnutého souboru nebo vypište wireguard tunel nastavení v grafickém rozhraní. 
            </br>
                <img src="{% static "wireguardapp/images/ubuntu_vpncreate.png" %}" 
                  alt="Stahnout konfiguraci" 
                  class="img-fluid img-thumbnail w-75"
                  data-bs-toggle="modal" 
                  data-bs-target="#imageGalleryModal" 
                  data-bs-img-src="{% static "wireguardapp/images/ubuntu_vpncreate.png" %}">
                </br>
          </li>
          <li>
            Spusťe VPN tunel.
          </li>
        </ol>

        <strong>Windows</strong>
        <ol>
          <li>
            Pro používání wireguard klienta protřebuje instalovat wireguard na vašem zařízení.
            Na odkazu <a href="https://www.wireguard.com/install/">https://www.wireguard.com/install/</a> stáhněte a naistalujte 
          </li>
          <li>
            Spusťte applikaci WireGuard a stiskněte tlačítko Importovat tunel(y) ze souboru nebo Přidat tunel 
            a vyberte stáhnutý konfigurační soubor soubor.
            </br>
                <img src="{% static "wireguardapp/images/windows_vpn.png" %}" 
                  alt="Stahnout konfiguraci" 
                  class="img-fluid img-thumbnail w-75"
                  data-bs-toggle="modal" 
                  data-bs-target="#imageGalleryModal" 
                  data-bs-img-src="{% static "wireguardapp/images/windows_vpn.png" %}">
                </br>
          </li>
          <li>
            Stiskněte tlačítko Aktivovat pro spuštění VPN tunelu.
          </li>
        </ol>
      </section>

      <strong>Android</strong>
      <ol>
        <li>
            Pro používání wireguard klienta protřebuje instalovat wireguard na vašem zařízení.
            Ve obchodu aplikací vyhledejte aplikaci WireGuard od vývojáře WireGuard Development Team
            (https://play.google.com/store/apps/details?id=com.wireguard.android&pcampaignid=web_share)
        </li>
        <li>
            Spusťte aplikace a vytvořte nový tunel přes 'importovat ze souboru nebo archivu'.
            </br>
                <img src="{% static "wireguardapp/images/android_new.jpg" %}" 
                  alt="Wireguard nový tunel" 
                  class="img-fluid img-thumbnail w-25">
                </br>
        </li>
        <li>
            Nalezněte ve vašem průzkumníku souborů stáhnutý konfigurační soubor. Z největší 
            pravděpodobností bude uložen jako váš poslední stáhnutý soubor. Pokud konfigurační soubor má závorky 
            ve svém jméně, ve aplikaci 'Moje soubory' nebo podobně, přejděte 
            na 'Poslední soubory' nebo 'Interní pamět -> Downland' a seřaďte podle datumu. 
            Potom podržte na soubor a ve nastavení (v další -> přejmenovat) přejmenujte na název s jenom písmeny.
            </br>
                <img src="{% static "wireguardapp/images/android_rename.jpg" %}" 
                  alt="Přejmenovat soubor v průzkumníku souborů 'Moje soubory'" 
                  class="img-fluid img-thumbnail w-25">

                <img src="{% static "wireguardapp/images/android_import.jpg" %}" 
                  alt="Importovat konfigurační soubor" 
                  class="img-fluid img-thumbnail w-25">
                </br>
        </li>
        <li>
          Zapněte tunel v aplikaci.
        </li>
      </ol>

      <hr>

      <section id="newserver">
        <h2>Vytvoření rozhraní serveru</h2>
        <p>
            Ve levem horním rohu klikněte na text 'Servery', 
            a zde klikněte na 'Vytvořit nové rozhraní serveru'.
        </p>
        <p>
            <ul>
              <li>
                Jméno rozhraní je jméno, které se bude zobrazovat pro uživatele.
              </li>
              <li>
                Adresa sítě rozhraní je ip adresa sítě, která bude rozhraní serveru používat ke přidělení ip adres klientům
              </li>
              <li>
                Maska sítě určuje masku sítě danou adresou sítě rozhraní. 
              </li>
              <li>
                Dosažitelná adresa rozhraní serveru je adresa (ip adresa nebo doména), kde se hledá server. 
                Tato adresa musí být dosažitelná bez VPN serveru. Pokud vaše zařízení, kde se tento VPN server a jeho rozhraní serveru Wireguard
                nachází, je zapotřebí nastavit zařízení které jse dá dosáhnout z internetu směrovaní portu na adresu zařízení s VPN serverem.
              </li>
              <li>
                Port endpoitu k naslouchání je port, kde bude rozhraní serveru Wireguard naslouchat. Většinou 51820.
              </li>
              <li>
                Povolit klientům se připojit mezi sebou znamená, jestli bude povolena komunikace mezi klienty.
              </li>
            </ul>

            Vplňte formulář a klikněte na tlačítko 'Vytvořit'.
        </p>
      </section>
      
      <hr>

      <section id="serverusage">
        <h2>Používání serveru</h2>
        <p>
          Všechny informace jsou o běhu serveru jsou dosažitelné ze dashboardu rozhraní serveru
        </p>

        </br>
        <img src="{% static "wireguardapp/images/dashboard.png" %}" 
          alt="Stahnout konfiguraci" 
          class="img-fluid img-thumbnail w-75"
          data-bs-toggle="modal" 
          data-bs-target="#imageGalleryModal" 
          data-bs-img-src="{% static "wireguardapp/images/dashboard.png" %}">
        </br>

        <ol>
          <li>
            List informací o serveru. 
          </li>
          <li>
            Rozhraní pro přesměrování přenosu je jméno síťového rozhraní, kde se má provoz z VPN tunelu přesměrovat dále. Většinou je to eth0.
          </li>
          <li>
            Stav WireGuard rozhraní serveru. Zelené tlačítko znamená, že server beží, červerné tlačítko server neběží.
          </li>
          <li>
            Tlačítko pro změnu nastavení rozhraní.
          </li>
          <li>
            Smazat rozhraní.
          </li>
          <li>
            Lišta pro zobrazení statistikách rozhraní.
          </li>
          <li>
            Lišta pro zobrazení agregovaných datech o každém klientovi
          </li>
          <li>
            Lišta a aktuálnímu využívaní rozhraní pro každého klienta
          </li>
        </ol>


      </section>


    </main>

  </div>
</div>

<div class="modal fade" id="imageGalleryModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <img src="" id="modalImage" class="img-fluid">
      </div>
    </div>
  </div>
</div>



<script>
  const galleryModal = document.getElementById('imageGalleryModal');
galleryModal.addEventListener('show.bs.modal', function (event) {
  // Button (image) that triggered the modal
  const image = event.relatedTarget;
  // Extract info from data-bs-* attributes
  const src = image.getAttribute('data-bs-img-src');
  // Update the modal's content
  const modalImage = galleryModal.querySelector('#modalImage');
  modalImage.src = src;
});
</script>


{% endblock %}