{% extends "wireguardapp/base.html" %}

{% block title %}WgWeb - Nastavení {{target_user.username}}{% endblock %}

{% block content %}

<h2 class="mb-4">
Uživatel {{ target_user.username }}
</h2>

<div class="row">

    <!-- LEFT COLUMN -->
    <div class="col-lg-4">

        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <strong>Profil uživatele</strong>
            </div>

            <div class="card-body">

                <p>
                <strong>Uživatelské jméno:</strong><br>
                {{ target_user.username }}
                </p>

                <p>
                <strong>Jméno a příjmení:</strong><br>
                {{ target_user.first_name }} {{ target_user.last_name }}
                </p>

                <p>
                <strong>Email:</strong><br>
                {{ target_user.email }}
                </p>

                <p>
                <strong>Status:</strong><br>

                {% if profile.verified %}
                <span class="badge bg-success">Ověřen</span>
                {% else %}
                <span class="badge bg-secondary">Neověřen</span>
                {% endif %}

                </p>
        
                <hr>

                <strong>Použito klíčů</strong>

                <div class="progress mt-2 mb-2">

                    <div class="progress-bar"
                        role="progressbar"
                        style="width: {% widthratio profile.key_count profile.key_limit 100 %}%">

                    {{ profile.key_count }} / {{ profile.key_limit }}

                    </div>

                </div>
                <a class="btn btn-primary" href="{% url  'userkeys' id=target_user.id %}">Zobrazit klíče</a>
                <hr>

                <form method="post">
                {% csrf_token %}

                    <button type="submit"
                            name="delete_user"
                            class="btn btn-danger"
                            onclick="return confirm('Opravdu chcete odstranit tohoto uživatele?');">
                    Smazat uživatele
                    </button>

                </form>


            </div>
        </div>

    </div>


    <!-- RIGHT COLUMN -->
    <div class="col-lg-8">

        <!-- USER SETTINGS -->
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <strong>Nastavení Uživatele</strong>
            </div>

            <div class="card-body">

                <form method="post">
                {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Uživatelské jméno</label>
                        {% if user_form.username.errors %}
                            <div class="text-danger">{{ user_form.username.errors }}</div>
                        {% endif %}
                        {{ user_form.username }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Jméno</label>
                        {% if user_form.first_name.errors %}
                            <div class="text-danger">{{ user_form.first_name.errors }}</div>
                        {% endif %}
                        {{ user_form.first_name }} 
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Příjmení</label>
                        {% if user_form.last_name.errors %}
                            <div class="text-danger">{{ user_form.last_name.errors }}</div>
                        {% endif %}
                        {{ user_form.last_name }}
                    </div>

                    {% if user_form.email %}
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        {% if user_form.last_name.errors %}
                            <div class="text-danger">{{ user_form.last_name.errors }}</div>
                        {% endif %}
                        {{ user_form.email }}
                    </div>
                    {% endif %}

                    {% if user_form.is_staff %}
                    <div class="form-check  mb-3">
                        <label class="form-check-label">Správce</label>
                        {{ user_form.is_staff }}
                        {% if user_form.is_staff.errors %}
                            <div class="text-danger">{{ user_form.is_staff.errors }}</div>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if profile_form %}

                        <hr>

                        <h6 class="text-muted">Admin Nastavení</h6>

                        <div class="form-check mb-3">
                            {{ profile_form.verified }}
                            <label class="form-check-label">
                            Ověřený
                            </label>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Max počet klíčů</label>
                            {{ profile_form.key_limit }}
                        </div>

                    {% endif %}

                    <button type="submit"
                            name="update_profile"
                            class="btn btn-primary">
                    Uložit nastavení
                    </button>

                </form>

            </div>
        </div>


        <!-- PASSWORD -->
        <div class="card shadow-sm">
            <div class="card-header">
                <strong>Změna hesla</strong>
            </div>

            <div class="card-body">

                <form method="post">
                {% csrf_token %}
                    {% if request.user.is_staff %}

                        <div class="mb-3">
                            <label class="form-label">Nové heslo</label>
                            {% if password_form.new_password1.errors %}
                                <div class="text-danger">{{ password_form.new_password1.errors }}</div>
                            {% endif %}
                            {{ password_form.new_password1 }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Potvrďte heslo</label>
                            {% if password_form.new_password2.errors %}
                                <div class="text-danger">{{ password_form.new_password2.errors }}</div>
                            {% endif %}
                            {{ password_form.new_password2 }}
                        </div>

                    {% else %}

                        <div class="mb-3">
                            <label class="form-label">Původní heslo</label>
                            {% if password_form.old_password.errors %}
                                <div class="text-danger">{{ password_form.old_password.errors }}</div>
                            {% endif %}
                            {{ password_form.old_password }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Nové heslo</label>
                            {% if password_form.new_password1.errors %}
                                <div class="text-danger">{{ password_form.new_password1.errors }}</div>
                            {% endif %}
                            {{ password_form.new_password1 }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Potvrďte heslo</label>
                            {% if password_form.new_password2.errors %}
                                <div class="text-danger">{{ password_form.new_password2.errors }}</div>
                            {% endif %}
                            {{ password_form.new_password2 }}
                        </div>
                    {% endif %}

                    <button type="submit"
                            name="change_password"
                            class="btn btn-danger">
                    Změnit heslo
                    </button>

                </form>

            </div>
        </div>

    </div>

</div>

{% endblock %}